.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title h2 {
    font-weight: 700;
    color: var(--text-color);
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-inputs input:focus {
    border-color: var(--primary-color);
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.login-popup-container button:hover {
    background-color: var(--secondary-color);
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;
    accent-color: var(--primary-color);
}

.login-popup p span {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}