.header {
    height: 34vw;
    margin: 30px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/header_img.png');
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 15%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 700;
    color: white;
    font-size: max(4.5vw, 28px);
    line-height: 1.2;
}

.header-contents p {
    color: white;
    font-size: 1.1vw;
    font-weight: 400;
    opacity: 0.9;
}

.header-contents button {
    border: none;
    color: var(--primary-color);
    font-weight: 600;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 14px);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.header-contents button:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: var(--secondary-color);
}

@media (max-width:1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}